.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 224px);
  position: relative;
}

.products h1 {
  color: rgb(68, 175, 252);
  font-family: "Lemon", cursive;
}

.products-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.products-link a {
    text-decoration: none;
}

.products-link button {
  cursor: pointer;
  border: 1px solid rgb(182, 182, 182);
  color: rgb(182, 182, 182);
  background-color: transparent;
  padding: 15px 35px;
  font-family: "Lemon", cursive;
  transition: all 0.4s ease-in-out;
  display: none;
}

.products-link:hover {
  background-color: rgba(1, 1, 1, 0.75);
}

.products-link:hover button {
  display: block;
}

.products-link button:hover {
  transform: scale(1.03);
}
