.signup {
  min-height: calc(100vh - 294px);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lemon", cursive;
  position: relative;
}

.signup h1 {
  color: rgb(68, 175, 252);
  margin: 20px 0 40px 0;
}

.signup table tr td:nth-child(1) label {
  color: rgb(68, 175, 252);
  padding-right: 30px;
}

.signup table tr {
  padding-bottom: 10px;
}

.signup-gap {
  margin-bottom: 15px;
}

.signup-check {
    transform: translateY(6px);
}

.signup-check label {
  color: rgba(0, 0, 0, 0.6) !important;
}

.signup-check svg {
  color: rgb(68, 175, 252);
}

.signup-btn {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.signup-btn button {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: rgb(255, 220, 42);
  padding: 10px 20px;
  font-family: "Lemon", cursive;
  border-radius: 5px;
}
